<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/headers") %>
<body>
    <div class="auth-main register">
        <div class="auth-form">
            <div>
                
            </div>
        </div>
        <div class="auth-image">
            <div>
                <div>
                    <h2>Create your account</h2>
                    
                    <form id="registForm" action="/auth/register" method="post">
                        <div>
                            <input type="text" name="usrname" id="uname" placeholder="username" required>
                        </div>
                        <div>
                            <input type="password" name="password" id="pwd" placeholder="password" required>
                        </div>
                        <div>
                            <input type="password" name="confirm" id="conpwd" placeholder="confirm password" required>
                        </div>
                        <div>
                            <select name="role" id="roleSelect">
                                <option value="null">select one option</option>
                                <option value="student">student</option>
                                <option value="company">company</option>
                            </select>
                        </div>
                        <div>
                            <div id="notice">
                            
                            </div>
                            <div style="display: none;" id="panies">
                                <div>
                                    <input type="text" name="compname" id="paniesname" placeholder="company name">
                                </div>
                                <div>
                                    <input type="text" name="compmail" id="paniesmail" placeholder="company email">
                                </div>
                            </div>
                            <div style="display: none;" id="studs">
                                <div>
                                    <input type="text" name="stdcourse" id="stdprogram" placeholder="program">
                                </div>
                                <div>
                                    <input type="text" name="stdmail" id="stdmail" placeholder="student email">
                                </div>
                            </div>
                        </div>
                        <div>
                            <input type="submit" name="btnlogin" value="Signup" id="">
                        </div>
                        <div>
                            <p class="text_small">
                                Already have an account ? <a href="/auth/login">signin</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="image-svg">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 556.67 400.968"><circle cx="52.335" cy="393.349" r="7" fill="#3f3d56"/><path d="M36.536 191.666c.586-1.983 1.572-3.669 2.736-4.867l4.393-19.242 9.095 2.359-5.435 19.265c.326 1.638.236 3.59-.35 5.572-1.34 4.53-4.763 7.51-7.645 6.658-2.883-.852-4.134-5.215-2.794-9.745zM124.072 378.759l-8.608.203-4.798-38.671 12.703-.3.703 38.768z" fill="#7b4c32"/><path d="M94.54 396.716c0 1.455 1.032 2.633 2.305 2.633h17.085s1.682-6.758 8.537-9.667l.473 9.667h8.813l-1.067-15.544s2.357-8.316-2.54-12.567c-4.896-4.251-.93-3.66-.93-3.66l-1.926-9.62-13.318 1.566-.098 15.102-6.464 14.99-9.48 4.684c-.844.417-1.39 1.366-1.39 2.416z" fill="#2f2e41"/><path fill="#7b4c32" d="M67.466 368.65l-8.608.203-4.798-38.67 12.703-.301.703 38.768z"/><path d="M37.934 386.608c0 1.454 1.032 2.633 2.305 2.633h17.086s1.68-6.758 8.536-9.667l.473 9.667h8.814l-1.068-15.544s2.358-8.316-2.539-12.567c-4.896-4.251-.93-3.66-.93-3.66l-1.927-9.62-13.318 1.566-.098 15.102-6.463 14.99-9.48 4.684c-.844.416-1.39 1.366-1.39 2.416zM121.406 70.497l-30.998 5.391c-2.136-5.465-16.473-42.548-17.359-47.9C70.747 14.075 81.12 1.248 95.183.198c13.488-1.006 21.706 1.52 22.854 14.368.402 4.503 4.266 16.566 5.447 20.93 6.516 24.077-.52 29.87-2.078 35.001zM70.865 149.341l-2.021 30.998-19.206 95.354 1.348 66.714 17.52-2.696 5.392-61.323 30.422-69.072 3.945 143.199 18.869.674 13.26-168.168a57.051 57.051 0 00-9.554-36.354l-59.975.674z" fill="#2f2e41"/><path d="M109.95 49.607H85.218l-5.592 8.76-19.543 8.087 10.782 76.822-2.695 33.02c15.235 5.17 50.592 13.171 76.165-7.947l-22.93-41.246 5.392-57.953-10.445-9.504-6.402-10.039z" fill="#f37133"/><path d="M75.245 64.096s-11.456-4.718-16.847 4.043c-2.933 4.767-8.461 37.473-12.891 66.298-3.71 24.144-6.651 45.565-6.651 45.565l11.793 1.685 13.174-47.16 10.075-36.064 1.347-34.367z" fill="#f37133"/><circle cx="96.267" cy="26.565" r="18.686" fill="#7b4c32"/><path fill="#7b4c32" d="M397.601 376.965l9.291 5.098 24.084-33.41-13.712-7.523-19.663 35.835z"/><path d="M429.547 394.222c.022.646-.689 2.302-1 2.869a3.597 3.597 0 01-4.883 1.423l-28.771-15.79a2.454 2.454 0 01-.971-3.33l.657-1.199s.553-4.38 5.918-7.21c0 0 1.735 5.473 10.164 3.017l3.2-2.026 6.954 14.87 6.004 4.326c1.314.947 2.673 1.432 2.728 3.05z" fill="#2f2e41"/><path fill="#7b4c32" d="M416.665 392.751l10.597-.001 5.041-40.876-15.641.001.003 40.876z"/><path d="M452.973 392.51c.33.556.504 2.35.504 2.996a3.597 3.597 0 01-3.597 3.597H417.06a2.454 2.454 0 01-2.454-2.454v-1.366s-1.623-4.107 1.72-9.169c0 0 4.154 3.964 10.361-2.244l1.83-3.316 13.252 9.69 7.344.905c1.607.198 3.032-.03 3.858 1.361zM424.426 169.862l-4.394 30.661-5.714 167.459h20.078l21.702-154.318v81.061l-45.824 49.671 14.529 10.108 61.213-57.443 11.189-110.352-8.761-16.173-64.018-.674z" fill="#2f2e41"/><path d="M471.26 48.205l-18.925-.856-6.008 9.617-24.992 12.383 3.428 73.873-6.739 33.694s63.138 22.91 79.311 9.433l-4.51-47.844 3.51-68.156-16.314-7.992-8.76-14.152z" fill="#f37133"/><circle cx="463.492" cy="23.571" r="19.572" fill="#7b4c32"/><path d="M448.021 39.561c1.422.139 1.502 2.89 2.853 3.303 1.235.378 3.391-1.242 3.603-3.003.17-1.403-1.019-1.875-2.702-4.804-.99-1.722.617-1.26.56-3.708-.017-.729-2.7-5.16-1.31-7.102.459-.643 1.11-1.554 2.251-1.952 1.717-.6 2.64.627 4.805.75 2.07.12-1.339 2.08 1.06.542 2.453-1.57 3.384-5.652 3.37-7.412-.015-1.811-.418 1.603 0 0 .21-.809 8.422 6.418 8.824 6.174 2.586-1.57 3.886-4.516 6.675-2.805 3.026 1.857 4.396 1.116 5.39.674.818-.364.145-7.307-.096-8.433-.662-3.098-4.089-4.546-4.354-4.654-1.772-.72-2.421-.194-3.453-1.051-1.466-1.217-.633-2.672-1.802-3.904-1.288-1.357-2.8 1.128-8.36 1.173-3.574.03-3.717-2.034-5.603-1.923-1.564.092-6.756.397-11.41 4.053-5.04 3.958-6.372 9.427-6.757 11.11-.898 3.934-1.265 10.947 2.102 14.714.808.904 2.043 1.86 2.553 3.754.574 2.136-.09 4.292.75 4.654.353.152.53-.201 1.051-.15z" fill="#2f2e41"/><path d="M0 399.778c0 .66.53 1.19 1.19 1.19h554.29c.66 0 1.19-.53 1.19-1.19 0-.66-.53-1.19-1.19-1.19H1.19c-.66 0-1.19.53-1.19 1.19z" fill="#ccc"/><path d="M421.315 187.35h-285.96c-10.49 0-19.02 8.53-19.02 19.02v173.96c0 10.49 8.53 19.02 19.02 19.02h285.96c10.49 0 19.02-8.53 19.02-19.02V206.37c0-10.49-8.53-19.02-19.02-19.02z" fill="#fff"/><path d="M421.315 187.35h-285.96c-10.49 0-19.02 8.53-19.02 19.02v173.96c0 10.49 8.53 19.02 19.02 19.02h285.96c10.49 0 19.02-8.53 19.02-19.02V206.37c0-10.49-8.53-19.02-19.02-19.02zm17.02 135.303c0 41.254-33.443 74.696-74.696 74.696H135.355c-9.4 0-17.02-7.62-17.02-17.02V206.37c0-9.4 7.62-17.02 17.02-17.02h285.96c9.4 0 17.02 7.62 17.02 17.02v116.284z" fill="#3f3d56"/><path d="M142.395 194.22c-.402-2.028-.312-3.979.163-5.58l-5.046-19.081 9.15-2.136 4.134 19.586c1.05 1.3 1.876 3.069 2.277 5.097.918 4.634-.729 8.864-3.677 9.448-2.95.583-6.083-2.7-7-7.333z" fill="#7b4c32"/><path d="M114.33 64.77s11.456-4.718 16.847 4.043c5.391 8.76 19.543 111.863 19.543 111.863l-11.793 1.685-23.249-83.224-1.348-34.367z" fill="#f37133"/><path d="M396.743 197.26c.276-2.065.993-3.898 1.963-5.272l-2.202-44.703 16.736-2.235-6.196 48.052c.574 1.58.784 3.537.507 5.602-.631 4.719-3.563 8.221-6.548 7.822-2.984-.399-4.892-4.547-4.26-9.266z" fill="#7b4c32"/><path d="M439.69 71.129s-15.86-5.99-21.136-.56c-5.274 5.429-22.784 65.952-22.784 65.952l1.64 45.076 12.494-2.156L439.69 71.129z" fill="#f37133"/><path d="M245.365 358.036h-28.06a2.565 2.565 0 000 5.13h28.06a2.565 2.565 0 000-5.13zM292.365 358.036h-28.06a2.565 2.565 0 000 5.13h28.06a2.565 2.565 0 000-5.13zM339.365 358.036h-28.06a2.565 2.565 0 000 5.13h28.06a2.565 2.565 0 000-5.13z" fill="#e6e6e6"/><g fill="#3f3d56"><path d="M452.835 94.35c0-5.239 4.262-9.5 9.5-9.5s9.5 4.261 9.5 9.5-4.262 9.5-9.5 9.5-9.5-4.262-9.5-9.5zm1 0c0 4.686 3.813 8.5 8.5 8.5 4.687 0 8.5-3.814 8.5-8.5s-3.813-8.5-8.5-8.5c-4.687 0-8.5 3.813-8.5 8.5z"/><circle cx="462.335" cy="94.349" r="5"/></g><path d="M473.644 102.078c1.309 1.6 2.147 3.364 2.482 5.001l33.911 28.692-9.81 13.696-30.603-37.074c-1.538-.653-3.1-1.825-4.408-3.426-2.99-3.658-3.526-8.165-1.199-10.067 2.328-1.903 6.638-.48 9.627 3.178z" fill="#7b4c32"/><path d="M487.096 70.78s9.435-4.717 14.826 3.37c5.39 8.086 10.877 49.892 10.877 49.892s6.644 28.951-6.16 28.277c-12.804-.673-36.304-36.835-36.304-36.835l9-8 1.023-9.749 6.738-26.955z" fill="#f37133"/><path d="M93.977 3.173c-7.6 1.337-14.966 5.452-18.91 12.086-3.942 6.634-11.167 15.877-5.93 21.545 1.811 1.959 4.118 3.442 5.746 5.554 2.772 3.595 3.172 8.646 1.79 12.97s-4.346 7.989-7.736 11.006c7.257-.748 13.88-5.905 16.387-12.757 1.16-3.17 1.396-6.974-.588-9.706-1.044-1.436-2.582-2.418-3.907-3.6-3.42-3.046-1.224-7.648-1.203-12.228s.596-7.766 4.043-10.782c2.373 1.897 10.243 1.44 13.243.952 2.999-.486 11.386 11.033 13.038 8.482 3.234 4.157 1.021-4.408.414.823-.434 3.742-2.892 6.97-3.632 10.665-.645 3.214.06 6.56 1.192 9.636 2.555 6.941 7.344 13.04 13.482 17.166-3.544-5.013-7.238-10.49-7.122-16.627.087-4.552 7.785-13.948 9.144-18.293 2.599-8.316-2.554-17.53-8.087-24.26-4.859-5.91-14.252-4.083-21.7-2.334" fill="#2f2e41"/><path d="M337.93 277.751c4.544 3.988-.96 11.87-2.736 17.325-2.765 8.5-11.492 13.556-20.294 12a198.987 198.987 0 00-20.58-2.545c-7.36-.52-14.76-.63-22.22-.33-7.75.31-15.55 1.08-23.42 2.31l-.133.02c-9.031 1.406-17.687-4.019-20.297-12.779-1.51-5.07-6.206-12.023-2.32-16.001 11.99-12.278 5.618-16.382 4.208-21.332-2.211-7.76 10.651-12.007 18.678-11.189l1.003.101c11.85 1.17 23.7 1.63 35.55 1.38 2.98-.05 5.97-.16 8.95-.31 6.76-.333 13.515-.896 20.272-1.692 7.851-.924 21.628 3.232 18.638 10.55-3.08 7.541-3.42 15.367 4.7 22.492z" fill="#f37133" opacity=".7"/><path d="M294.32 246.401v58.13c-7.36-.52-14.76-.63-22.22-.33-7.75.31-15.55 1.08-23.42 2.31 1.05-9.73.38-19.63 7.89-23.26 9.29-4.5 1.04-22.67-6.75-37.92 11.85 1.17 23.7 1.63 35.55 1.38 2.98-.05 5.97-.16 8.95-.31z" fill="#3f3d56" opacity=".7"/><path d="M337.93 277.751c4.458 4.084-.96 11.87-2.736 17.325-2.765 8.5-11.492 13.556-20.294 12a198.987 198.987 0 00-20.58-2.545c-7.36-.52-14.76-.63-22.22-.33-6.98-9.01-9.65-17.28-3.23-22.49 7.27-5.89 9.8-20.37 16.5-35 2.98-.05 5.97-.16 8.95-.31 6.759-.333 13.514-.896 20.27-1.692 7.852-.924 21.966 3.379 18.64 10.55-3.298 7.109-3.708 14.792 4.7 22.492z" fill="#ff6884" opacity=".7"/><path d="M269.61 293.485h-28.06a2.565 2.565 0 000 5.13h28.06a2.565 2.565 0 000-5.13zM319.61 275.485h-28.06a2.565 2.565 0 000 5.13h28.06a2.565 2.565 0 000-5.13zM280.61 258.485h-28.06a2.565 2.565 0 000 5.13h28.06a2.565 2.565 0 000-5.13z" fill="#3f3d56"/><g><path fill="#3f3d56" d="M137.716 289.311h104.009v1H137.716z"/><path d="M158.725 299.164c-5.238 0-9.5-4.261-9.5-9.5s4.262-9.5 9.5-9.5 9.5 4.262 9.5 9.5-4.261 9.5-9.5 9.5zm0-18c-4.687 0-8.5 3.814-8.5 8.5s3.813 8.5 8.5 8.5 8.5-3.813 8.5-8.5-3.813-8.5-8.5-8.5z" fill="#3f3d56"/><circle cx="158.725" cy="289.664" r="5" fill="#f37133"/></g><g><path fill="#3f3d56" d="M306.945 284.311h104.009v1H306.945z"/><path d="M380.445 284.664c0-5.238 4.261-9.5 9.5-9.5 5.238 0 9.5 4.262 9.5 9.5 0 5.239-4.262 9.5-9.5 9.5-5.239 0-9.5-4.261-9.5-9.5zm1 0c0 4.687 3.813 8.5 8.5 8.5 4.687 0 8.5-3.813 8.5-8.5 0-4.686-3.813-8.5-8.5-8.5-4.687 0-8.5 3.814-8.5 8.5z" fill="#3f3d56"/><circle cx="389.945" cy="284.664" r="5" fill="#ff6884"/></g><g fill="#3f3d56"><path d="M166.716 253.311h104.009v1H166.716z"/><path d="M187.725 263.164c-5.238 0-9.5-4.261-9.5-9.5s4.262-9.5 9.5-9.5 9.5 4.262 9.5 9.5-4.261 9.5-9.5 9.5zm0-18c-4.687 0-8.5 3.814-8.5 8.5s3.813 8.5 8.5 8.5 8.5-3.813 8.5-8.5-3.813-8.5-8.5-8.5z"/><circle cx="187.725" cy="253.664" r="5"/></g></svg>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/regist.js" type="text/javascript"></script>
</body>
</html>