<div class="body-main container">
    <div>
        <div class="jobs-area">
            <div>
                <div class="job-cards">
                    <div>
                        <img width="128" src="/img/learning/brain logo.png" alt="">
                    </div>
                    <div>
                        <h5>
                            Python developer intern
                        </h5>
                        <div>
                            Western region &dot; Takoradi
                        </div>
                        <div>
                            <span>python</span> <span>sql</span> <span>pyqt5</span>
                        </div>
                        <div>
                            2 days ago
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="job-cards">
                    <div>
                        <img width="128" src="/img/learning/brain logo.png" alt="">
                    </div>
                    <div>
                        <h5>
                            Network Administrator intern
                        </h5>
                        <div>
                            Western region &dot; Takoradi
                        </div>
                        <div>
                            <span>python</span> <span>sql</span> <span>pyqt5</span>
                        </div>
                        <div>
                            2 days ago
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="job-cards">
                    <div>
                        <img width="128" src="/img/learning/brain logo.png" alt="">
                    </div>
                    <div>
                        <h5>
                            Software developement intern
                        </h5>
                        <div>
                            Western region &dot; Takoradi
                        </div>
                        <div>
                            <span>python</span> <span>sql</span> <span>pyqt5</span>
                        </div>
                        <div>
                            2 days ago
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="job-cards">
                    <div>
                        <img width="128" src="/img/learning/brain logo.png" alt="">
                    </div>
                    <div>
                        <h5>
                            System Administration
                        </h5>
                        <div>
                            Western region &dot; Takoradi
                        </div>
                        <div>
                            <span>python</span> <span>sql</span> <span>pyqt5</span>
                        </div>
                        <div>
                            2 days ago
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="job-cards">
                    <div>
                        <img width="128" src="/img/learning/brain logo.png" alt="">
                    </div>
                    <div>
                        <h5>
                            Cyber Security Analyst intern
                        </h5>
                        <div>
                            Western region &dot; Takoradi
                        </div>
                        <div>
                            <span>python</span> <span>sql</span> <span>pyqt5</span>
                        </div>
                        <div>
                            2 days ago
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="job-cards">
                    <div>
                        <img width="128" src="/img/learning/brain logo.png" alt="">
                    </div>
                    <div>
                        <h5>
                            Business Analyst intern
                        </h5>
                        <div>
                            Western region &dot; Takoradi
                        </div>
                        <div>
                            <span>python</span> <span>sql</span> <span>pyqt5</span>
                        </div>
                        <div>
                            2 days ago
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="job-cards">
                    <div>
                        <img width="128" src="/img/learning/brain logo.png" alt="">
                    </div>
                    <div>
                        <h5>
                            Python developer intern
                        </h5>
                        <div>
                            Western region &dot; Takoradi
                        </div>
                        <div>
                            <span>python</span> <span>sql</span> <span>pyqt5</span>
                        </div>
                        <div>
                            2 days ago
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="job-cards">
                    <div>
                        <img width="128" src="/img/learning/brain logo.png" alt="">
                    </div>
                    <div>
                        <h5>
                            Network Administrator intern
                        </h5>
                        <div>
                            Western region &dot; Takoradi
                        </div>
                        <div>
                            <span>python</span> <span>sql</span> <span>pyqt5</span>
                        </div>
                        <div>
                            2 days ago
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="job-cards">
                    <div>
                        <img width="128" src="/img/learning/brain logo.png" alt="">
                    </div>
                    <div>
                        <h5>
                            Software developement intern
                        </h5>
                        <div>
                            Western region &dot; Takoradi
                        </div>
                        <div>
                            <span>python</span> <span>sql</span> <span>pyqt5</span>
                        </div>
                        <div>
                            2 days ago
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="job-cards">
                    <div>
                        <img width="128" src="/img/learning/brain logo.png" alt="">
                    </div>
                    <div>
                        <h5>
                            System Administration
                        </h5>
                        <div>
                            Western region &dot; Takoradi
                        </div>
                        <div>
                            <span>python</span> <span>sql</span> <span>pyqt5</span>
                        </div>
                        <div>
                            2 days ago
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="job-cards">
                    <div>
                        <img width="128" src="/img/learning/brain logo.png" alt="">
                    </div>
                    <div>
                        <h5>
                            Cyber Security Analyst intern
                        </h5>
                        <div>
                            Western region &dot; Takoradi
                        </div>
                        <div>
                            <span>python</span> <span>sql</span> <span>pyqt5</span>
                        </div>
                        <div>
                            2 days ago
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="job-cards">
                    <div>
                        <img width="128" src="/img/learning/brain logo.png" alt="">
                    </div>
                    <div>
                        <h5>
                            Python developer intern
                        </h5>
                        <div>
                            Western region &dot; Takoradi
                        </div>
                        <div>
                            <span>python</span> <span>sql</span> <span>pyqt5</span>
                        </div>
                        <div>
                            2 days ago
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="job-cards">
                    <div>
                        <img width="128" src="/img/learning/brain logo.png" alt="">
                    </div>
                    <div>
                        <h5>
                            Network Administrator intern
                        </h5>
                        <div>
                            Western region &dot; Takoradi
                        </div>
                        <div>
                            <span>python</span> <span>sql</span> <span>pyqt5</span>
                        </div>
                        <div>
                            2 days ago
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="job-cards">
                    <div>
                        <img width="128" src="/img/learning/brain logo.png" alt="">
                    </div>
                    <div>
                        <h5>
                            Software developement intern
                        </h5>
                        <div>
                            Western region &dot; Takoradi
                        </div>
                        <div>
                            <span>python</span> <span>sql</span> <span>pyqt5</span>
                        </div>
                        <div>
                            2 days ago
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="job-cards">
                    <div>
                        <img width="128" src="/img/learning/brain logo.png" alt="">
                    </div>
                    <div>
                        <h5>
                            System Administration
                        </h5>
                        <div>
                            Western region &dot; Takoradi
                        </div>
                        <div>
                            <span>python</span> <span>sql</span> <span>pyqt5</span>
                        </div>
                        <div>
                            2 days ago
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="job-cards">
                    <div>
                        <img width="128" src="/img/learning/brain logo.png" alt="">
                    </div>
                    <div>
                        <h5>
                            Cyber Security Analyst intern
                        </h5>
                        <div>
                            Western region &dot; Takoradi
                        </div>
                        <div>
                            <span>python</span> <span>sql</span> <span>pyqt5</span>
                        </div>
                        <div>
                            2 days ago
                        </div>
                    </div>
                    <div></div>
                </div>
                
            </div>
        </div>
    </div>
</div>