<div class="body-main container">
    <div>
        <div class="jobs-area">
            <div>
                <div class="job-cards">Python developer intern <button>apply</button></div>
                <div class="job-cards">Network Administrator intern <button>apply</button></div>
                <div class="job-cards">Software developement intern <button>apply</button></div>
                <div class="job-cards">System Administration <button>apply</button></div>
                <div class="job-cards">Cyber Security Analyst intern <button>apply</button></div>
                <div class="job-cards">Business Analyst intern <button>apply</button></div>
                <div class="job-cards">Python developer intern <button>apply</button></div>
                <div class="job-cards">Network Administrator intern <button>apply</button></div>
                <div class="job-cards">Software developement intern <button>apply</button></div>
                <div class="job-cards">System Administration <button>apply</button></div>
                <div class="job-cards">Cyber Security Analyst intern <button>apply</button></div>
                <div class="job-cards">Python developer intern <button>apply</button></div>
                <div class="job-cards">Network Administrator intern <button>apply</button></div>
                <div class="job-cards">Software developement intern <button>apply</button></div>
                <div class="job-cards">System Administration <button>apply</button></div>
                <div class="job-cards">Cyber Security Analyst intern <button>apply</button></div>
            </div>
        </div>
    </div>
</div>