<!DOCTYPE html>
<html lang="en">
    <%- include('partials/headers') %> 
<body>
    <div class="dash-main">
        <div class="dash-head container">
            <div class="head-inner">
                <div class="head-nav">
                    <div>
                        <a href="/dashboard/user">
                            <div>
                                <span>
                                    <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                        <g fill="#f37122"><path d="M46.015 40.219V13.54c-1.218 1.41-3.06 2.687-5.465 3.76-3.91 1.748-8.948 2.8-14.36 3.025v1.298c0 .737-.598 1.335-1.335 1.335h-1.71a1.336 1.336 0 01-1.335-1.335V20.33c-5.417-.224-10.45-1.277-14.36-3.024-2.404-1.074-4.247-2.35-5.465-3.76v26.678c0 .737.598 1.336 1.335 1.336h41.365a1.343 1.343 0 001.33-1.341z"/>
                                            <path d="M29.481 6.44H18.508a4.008 4.008 0 00-4.006 4.007v1.501H2.765c.192.272.417.545.673.817 1.084 1.144 2.65 2.18 4.664 3.077 4.23 1.892 9.877 2.933 15.898 2.933s11.662-1.041 15.898-2.933c2.01-.897 3.58-1.933 4.664-3.077.257-.267.481-.54.673-.817H33.488v-1.501A4.012 4.012 0 0029.48 6.44zm-12.308 5.508v-1.501c0-.737.598-1.336 1.335-1.336h10.973c.737 0 1.336.599 1.336 1.336v1.501z"/>
                                        </g>
                                    </svg>
                                </span>
                                Jobs
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/dashboard/applications">
                            <div>
                                <span>
                                    <svg width="24" viewBox="0 0 48 32" xmlns="http://www.w3.org/2000/svg">
                                        <g fill="#f37122">
                                            <path d="M13.214 18.345c2.588-.004 4.695-2.125 4.695-4.728v-1.392c0-.14-.007-.281-.02-.423h-.633c-1.115 0-1.522-1.086-1.706-1.732-1.071.508-3.697 1.673-7.013 1.73-.013.142-.02.284-.02.425v1.392c0 2.603 2.107 4.724 4.697 4.728z"/>
                                            <path d="M45.828 0H2.27A2.23 2.23 0 00.05 2.232v27.536A2.23 2.23 0 002.27 32h43.558a2.23 2.23 0 002.221-2.232V2.232A2.23 2.23 0 0045.83 0zM27.251 16.106h3.603v3.4h-3.603zm-6.862 7.805l-.008 3.313H6.045l-.009-3.356v-2.65c0-1.37 1.463-1.887 2.638-2.302.266-.094.567-.201.81-.309l-.131-.145c-1.016-1.12-2.167-2.388-2.175-4.628l-.136-1.75C6.736 8.128 8.698 7.52 11.67 6.6c.435-.134.886-.274 1.369-.435a5.774 5.774 0 011.82-.313c1.241 0 2.327.467 3.14 1.35 1.048 1.139 1.54 2.872 1.385 4.88l-.136 1.75c-.008 2.24-1.158 3.51-2.174 4.629l-.132.146c.243.107.545.214.81.308 1.176.415 2.638.932 2.638 2.301zm15.19 3.065h-8.328v-3.4h8.329zm1.802-7.47h-3.603v-3.4h3.603zm6.527 0h-3.602v-3.4h3.602zm0-7.47H27.251v-3.4h16.657z"/>
                                            <path d="M13.213 24.102l3.668-3.91H9.545z"/>
                                        </g>
                                    </svg>
                                </span>
                                Applications
                            </div>
                        </a>
                    </div>
                </div>
                <div class="head-icons">
                    <span class="user">
                        U
                    </span>
                </div>
            </div>
        </div>
        <div class="dash-body">
            <div>
                <div class="body-head container">
                    <div>
                        <div class="search-area">
                            <label for="searchData">
                                <svg  height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 487.95 487.95"><path fill="#555" d="M481.8 453l-140-140.1c27.6-33.1 44.2-75.4 44.2-121.6C386 85.9 299.5.2 193.1.2S0 86 0 191.4s86.5 191.1 192.9 191.1c45.2 0 86.8-15.5 119.8-41.4l140.5 140.5c8.2 8.2 20.4 8.2 28.6 0 8.2-8.2 8.2-20.4 0-28.6zM41 191.4c0-82.8 68.2-150.1 151.9-150.1s151.9 67.3 151.9 150.1-68.2 150.1-151.9 150.1S41 274.1 41 191.4z"/></svg>
                            </label>
                            <input type="search" name="datasearch" id="searchData" placeholder="Search">
                        </div>
                        <div class="btn-area">
                            <button>
                                All locations 
                                <span>
                                    <svg width="16"  viewBox="0 0 48 24" xmlns="http://www.w3.org/2000/svg"><path d="M48 0H0l12 12 12 12 12-12z" fill="#f37122" paint-order="stroke fill markers"/></svg>
                                </span>
                            </button>
                            <button>
                                Active
                                <span>
                                    <svg width="16"  viewBox="0 0 48 24" xmlns="http://www.w3.org/2000/svg"><path d="M48 0H0l12 12 12 12 12-12z" fill="#f37122" paint-order="stroke fill markers"/></svg>
                                </span>
                            </button>
                            <button>
                                <svg  height="16" fill="#fff" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M.044 8.002a.838.839 89.192 01.84-.84H7.16L7.16.887a.84.84 89.192 011.679 0V7.16l6.278-.002a.84.84 89.192 010 1.678H8.84l.003 6.276a.84.84 89.192 01-1.68 0V8.839l-6.278.003a.838.839 89.192 01-.84-.839z"/></svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="body-main container">
                    <div>
                        <div class="jobs-area">
                            <div>
                                <div class="job-cards">Python developer intern</div>
                                <div class="job-cards">Network Administrator intern</div>
                                <div class="job-cards">Software developement intern</div>
                                <div class="job-cards">System Administration</div>
                                <div class="job-cards">Cyber Security Analyst intern</div>
                                <div class="job-cards">Business Analyst intern</div>
                                <div class="job-cards">Python developer intern</div>
                                <div class="job-cards">Network Administrator intern</div>
                                <div class="job-cards">Software developement intern</div>
                                <div class="job-cards">System Administration</div>
                                <div class="job-cards">Cyber Security Analyst intern</div>
                                <div class="job-cards">Python developer intern</div>
                                <div class="job-cards">Network Administrator intern</div>
                                <div class="job-cards">Software developement intern</div>
                                <div class="job-cards">System Administration</div>
                                <div class="job-cards">Cyber Security Analyst intern</div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="job-form">
                <div>
                    <form action="" method="post">
                        <div class="bi-form">
                            <h5>Basic Information</h5>
                            <div class="bi-title">
                                <input type="text" name="" id="" placeholder="Job title">
                            </div>
                            <div class="bi-dept">
                                <input type="text" name="" id="" placeholder="department">
                            </div>
                            <div class="bi-loc">
                                <div>
                                    <div>
                                        <input type="text" name=" " id="" placeholder="region">
                                    </div>
                                    <div>
                                        <input type="text" name="" id="" placeholder="city">
                                    </div>
                                    <div>
                                        <input type="checkbox" name="" id="" placeholder="remote">
                                        <label for="">Remote</label>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="">
                                <input type="text" name="" id="">
                            </div> -->
                        </div>
                        <div class="po-form">
                            <h5>About the position</h5>
                            <div>
                                <div id="quillToolbar">
                                    <span class="ql-formats">
                                    <select class="ql-size"></select>
                                    </span>
                                    <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                    </span>
                                    <span class="ql-formats">
                                    <select class="ql-color"></select>
                                    <select class="ql-background"></select>
                                    </span>
                                    <span class="ql-formats">
                                    <button class="ql-script" value="sub"></button>
                                    <button class="ql-script" value="super"></button>
                                    </span>
                                    <span class="ql-formats">
                                    <button class="ql-header" value="3">
                                        <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                            <path fill="currentColor" d="M10 4v10c0 1.333-2 1.333-2 0v-4H3v4c0 1.333-2 1.333-2 0V4c0-1.333 2-1.333 2 0v4h5V4c0-1.333 2-1.333 2 0z"/>
                                            <path d="M13.753 7.845q.426 0 .787.122t.618.346q.263.225.408.544t.145.707q0 .319-.084.572-.08.248-.235.44-.15.187-.365.318t-.482.211q.655.173.983.581.333.408.333 1.021 0 .464-.178.834-.173.37-.478.632-.304.258-.712.398-.403.136-.866.136-.534 0-.914-.13-.38-.137-.642-.371t-.43-.553q-.17-.323-.286-.698l.356-.15q.098-.042.197-.042.093 0 .163.042.075.038.113.122.01.019.019.042l.018.043q.066.135.16.309.093.168.253.318t.393.253q.239.103.59.103t.614-.112q.267-.117.44-.3.178-.183.267-.407t.09-.445q0-.272-.076-.497-.07-.225-.262-.389-.188-.164-.525-.257-.332-.094-.857-.094v-.604q.426-.005.726-.094.305-.089.497-.244t.276-.37q.089-.215.089-.477 0-.29-.094-.506-.089-.216-.248-.356t-.38-.211q-.215-.07-.468-.07t-.468.075-.384.21q-.164.132-.277.319-.112.183-.168.398-.038.136-.113.197t-.192.06h-.051l-.056-.009-.436-.075q.065-.459.253-.81.187-.356.473-.595.29-.239.66-.36.375-.127.806-.127z" aria-label="3" stroke="currentColor" stroke-width=".58551"/>
                                        </svg>
                                    </button>
                                    <button class="ql-header" value="4">
                                        <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                            <path fill="currentColor" d="M10 4v10c0 1.333-2 1.333-2 0v-4H3v4c0 1.333-2 1.333-2 0V4c0-1.333 2-1.333 2 0v4h5V4c0-1.333 2-1.333 2 0z"/>
                                            <g aria-label="3">
                                                <path d="M15.501 12.192h1.052v.494q0 .078-.049.131-.043.053-.14.053H15.5v1.827h-.76V12.87h-3.078q-.097 0-.17-.053-.067-.058-.086-.14l-.088-.441 3.378-4.483h.804zm-.76-2.864q0-.126.004-.271.01-.146.034-.3l-2.524 3.435h2.485z" aria-label="4" stroke="currentColor" stroke-width=".6057"/>
                                            </g>
                                        </svg>
                                    </button>
                                    <button class="ql-header" value="5">
                                        <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                            <path fill="currentColor" d="M10 4v10c0 1.333-2 1.333-2 0v-4H3v4c0 1.333-2 1.333-2 0V4c0-1.333 2-1.333 2 0v4h5V4c0-1.333 2-1.333 2 0z"/>
                                            <path d="M15.578 8.217q0 .18-.114.298-.113.114-.383.114h-2.13l-.312 1.779q.53-.114.98-.114.53 0 .932.156.407.157.681.431t.412.648q.142.374.142.814 0 .54-.19.975-.189.435-.52.747-.326.308-.771.474t-.96.165q-.299 0-.573-.061-.275-.057-.511-.156t-.44-.228-.36-.27l.256-.359q.085-.123.227-.123.09 0 .208.076.123.07.293.16t.398.166q.232.071.549.071.354 0 .638-.113t.483-.322q.203-.213.312-.506t.11-.658q0-.317-.096-.573-.09-.255-.279-.435-.184-.18-.463-.279t-.653-.1q-.256 0-.53.043t-.568.137l-.53-.156.549-3.17h3.213z" aria-label="5" stroke="currentColor" stroke-width=".59146"/>
                                        </svg>
                                    </button>
                                    <button class="ql-header" value="6">
                                        <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                            <path fill="currentColor" d="M10 4v10c0 1.333-2 1.333-2 0v-4H3v4c0 1.333-2 1.333-2 0V4c0-1.333 2-1.333 2 0v4h5V4c0-1.333 2-1.333 2 0z"/>
                                            <path d="M13.928 10.474q.407 0 .772.137.364.133.638.393.275.256.436.634.16.374.16.857 0 .468-.17.87t-.478.7q-.302.299-.733.469t-.946.17q-.511 0-.928-.16-.411-.166-.705-.464-.293-.303-.454-.729-.156-.43-.156-.96 0-.445.199-.947.198-.501.629-1.079l1.717-2.314q.067-.085.185-.141.118-.062.27-.062h.747l-2.351 2.976q.241-.165.534-.255.294-.095.634-.095zm-1.75 2.063q0 .327.094.596.095.27.275.464.184.194.445.303.265.104.6.104.341 0 .616-.109t.468-.303q.199-.194.303-.459.109-.265.109-.577 0-.331-.104-.596-.105-.27-.294-.454-.19-.19-.454-.289t-.582-.1q-.34 0-.615.119-.275.113-.469.312-.189.194-.293.454-.1.256-.1.535z" aria-label="6" stroke="currentColor" stroke-width=".59146"/>
                                        </svg>
                                    </button>
                                    <button class="ql-blockquote"></button>
                                    <button class="ql-code-block"></button>
                                    </span>
                                    <span class="ql-formats">
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                    <button class="ql-indent" value="-1"></button>
                                    <button class="ql-indent" value="+1"></button>
                                    </span>
                                    <span class="ql-formats">
                                    <button class="ql-direction" value="rtl"></button>
                                    <select class="ql-align"></select>
                                    </span>
                                    <span class="ql-formats">
                                    <button class="ql-link"></button>
                                    <button class="ql-image"></button>
                                    <button class="ql-video"></button>
                                    </span>
                                    <span class="ql-formats">
                                    <button class="ql-clean"></button>
                                    </span>
                                </div>
                                <div id="quillEditor">
                                </div>                                
                            </div>
                        </div>
                            <input type="button" value="cancel">
                            <input type="submit" value="Create Job">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/quill.min.js"></script>
    <script>
        document.body.onload = () => {
            let quill = new Quill('#quillEditor', {
                modules: {
                  syntax: true,
                  toolbar: '#quillToolbar'
                },
                placeholder: 'Compose an epic...',
                theme: 'snow'
              });
        }
    </script>
</body>

</html>