<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/learning.css">
    <title>Document</title>
</head>
<body>
    <h1>Development Guideline Documentation</h1>
    <div class="mainbox">
        <div class="inner-mainbox">
            <div>
                <h2>Frontend Development</h2>
                <ol class="frontend">
                    <li>
                        <h5>HTML - Hypertext Markup Language</h5>
                        <div>
                            <p>Web pages are built using html, so just like building  need blocks or bricks to build a house in web development too you need elements which are the building blocks
                            now elements are made up of <span class="extra">tags</span> and they mostly come in twos</p>
                            <div style="display: flex; gap: 32px; width: max-content; margin: 8px auto;">
                                <div>
                                    <img width="64" height="auto" src="/img/learning/tag1.png" alt="">
                                    <img width="64" height="auto" src="/img/learning/tag2.png" alt="">
                                </div>
                                or in some cases one
                                <div>
                                    <img width="64" height="auto" src="/img/learning/tag3.png" alt="">
                                    <img width="64" height="auto" src="/img/learning/tag4.png" alt="">
                                </div>
                            </div>
                            <div style="width: max-content; margin: 8px auto;">
                                <img width="512" height="auto" src="/img/learning/Picture1.png" alt="">
                            </div> 
                            <div class="tags-block">
                                <p>
                                    Now one thing you are to remember is there a lot of tags and its good practice to be checking them from online
                                    resources since changes are made from time to time. Now to list a few
                                </p>
                                <div class="tags-def">
                                    <div class="selectors">
                                        <p style="margin-bottom: 4px;">html tag</p>
                                        <ul style="padding-left: 16px;">
                                            <li>
                                                <p style="margin-bottom: 4px;">head tag</p>
                                                <ul style="padding-left: 16px;">
                                                    <li>meta tags</li>
                                                    <li>title tag</li>
                                                    <li>link tag</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <p style="margin-bottom: 4px;">body tag</p>
                                                <ul style="padding-left: 16px;">
                                                    <li>div tag</li>
                                                    <li>p tag</li>
                                                    <li>span tag</li>
                                                    <li>a tag</li>
                                                    <li>button tag</li>
                                                    <li>form tag</li>
                                                    <li>input tags</li>
                                                    <li>button tags</li>
                                                    <li>textarea tag</li>
                                                    <li>img tag</li>
                                                    <li>audio tag</li>
                                                    <li>video tag</li>
                                                    <li>source tag</li>
                                                    <li>embed tag</li>
                                                    <li>iframe tag</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="definite">
                                        <div>
                                            <div id="html">
                                                The <span class="extra">&lt;html&gt;</span> HTML element represents the root (top-level element) of an HTML document, so it is also referred to as the root element. All other elements must be descendants of this element.
                                                <div id="head">
                                                    The <span class="extra">&lt;head&gt;</span> HTML element contains machine-readable information (metadata) about the document, like its title, scripts, and style sheets.
                                                    <div id="meta">
                                                        The <span class="extra">&lt;meta&gt;</span> HTML element represents Metadata that cannot be represented by other HTML meta-related elements, like base, link, script, style or title.
                                                        Metadata contains information about the page. This includes information about styles, scripts and data to help software (search engines, browsers, etc.) use and render the page. Metadata for styles and scripts may be defined in the page or link to another file that has the information.
                                                    </div>
                                                    <div id="title">
                                                        The <span class="extra">&lt;title&gt;</span> HTML element defines the document's title that is shown in a Browser's title bar or a page's tab. It only contains text; tags within the element are ignored.
                                                        and is normally seen in the browser tab
                                                    </div>
                                                    <div id="link">
                                                        The <span class="extra">&lt;link&gt;</span> HTML element specifies relationships between the current document and an external resource. This element is most commonly used to link to CSS, but is also used to establish site icons (both "favicon" style icons and icons for the home screen and apps on mobile devices) among other things.
                                                    </div>
                                                </div>
                                                <div id="body">
                                                    The <span class="extra">&lt;body&gt;</span> HTML element represents the content of an HTML document. There can be only one <span class="extra">&lt;body&gt;</span> element in a document.
                                                    This is where we will be creating our blocks of code and coloring them
                                                    <div id="headings">
                                                        The <span class="extra">&lt;h1&gt;</span> to <span class="extra">&lt;h6&gt;</span> HTML elements represent six levels of section headings. <span class="extra">&lt;h1&gt;</span> is the highest section level and <span class="extra">&lt;h6&gt;</span> is the lowest.
                                                    </div>
                                                    <div id="div">
                                                        The <span class="extra">&lt;div&gt;</span> HTML element is the generic container for flow content. It has no effect on the content or layout until styled in some way using CSS (e.g. styling is directly applied to it, or some kind of layout model like Flexbox is applied to its parent element).
                                                    </div>
                                                    <div id="paragraph">
                                                        The <span class="extra">&lt;p&gt;</span> HTML element represents a paragraph. Paragraphs are usually represented in visual media as blocks of text separated from adjacent blocks by blank lines and/or first-line indentation, but HTML paragraphs can be any structural grouping of related content, such as images or form fields.
                                                    </div>
                                                    <div id="span">
                                                        The <span class="extra">&lt;span&gt;</span> HTML element is a generic inline container for phrasing content, which does not inherently represent anything. It can be used to group elements for styling purposes (using the class or id attributes), or because they share attribute values, such as lang. It should be used only when no other semantic element is appropriate. <span class="extra">&lt;span&gt;</span> is very much like a div element, but div is a block-level element whereas a <span class="extra">&lt;span&gt;</span> is an inline element.
                                                    </div>
                                                    <div id="anchor">
                                                        The <span class="extra">&lt;a&gt;</span> HTML element (or anchor element), with its href attribute, creates a hyperlink to web pages, files, email addresses, locations in the same page, or anything else a URL can address.
                                                    </div>
                                                    <div id="button">
                                                        The <span class="extra">&lt;button&gt;</span> HTML element is an interactive element activated by a user with a mouse, keyboard, finger, voice command, or other assistive technology. Once activated, it then performs a programmable action, such as submitting a form or opening a dialog.
                                                    </div>
                                                    <div id="form">
                                                        The <span class="extra">&lt;form&gt;</span> HTML element represents a document section containing interactive controls for submitting information.
                                                        This is where data can be collected from user using the <span class="extra">&lt;input&gt;</span> elements .
                                                    </div>
                                                    <div id="inputs">
                                                        The <span class="extra">&lt;input&gt;</span> HTML element is used to create interactive controls for web-based forms in order to accept data from the user; a wide variety of types of input data and control widgets are available, depending on the device and user agent. The <span class="extra">&lt;input&gt;</span> element is one of the most powerful and complex in all of HTML due to the sheer number of combinations of input types and attributes.
                                                    </div>
                                                    <div id="tarea">
                                                        The <span class="extra">&lt;textarea&gt;</span> HTML element represents a multi-line plain-text editing control, useful when you want to allow users to enter a sizeable amount of free-form text, for example a comment on a review or feedback form.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tags-attr">
                                    <p>
                                        Another thing to remember that tags can have attributes eg
                                        <span class="extra">style attribute</span>, 
                                        <span class="extra">class attribute</span>, 
                                        <span class="extra">id attribute</span>,
                                        <span class="extra">width attribute</span>,
                                        <span class="extra">height attribute</span>... some do have attributes that are unique to them like
                                        <span class="extra">src attribute</span>,
                                        <span class="extra">alt attribute</span>,
                                        <span class="extra">href attribute</span>,
                                        <span class="extra">rel attribute</span>,
                                        <span class="extra">type attribute</span> ... hell you can even create your own attributes like
                                        <span class="extra">data-content attribute</span>,
                                        <span class="extra">data-key attribute</span>,
                                        <span class="extra">data-catalog attribute</span>..etc
                                    </p>
                                    <p>
                                        Each of the tags have its purpose the <span class="extra">class tag</span> 
                                        for instance adds the tag to an identifier group which can referenced to style 
                                        all tags that have that class the <span class="extra">id tag </span> allows us to create
                                        unique identifiers for each tag which can also be referenced to style a tag.
                                    </p>
                                    <div class="rowblocks">
                                        <div class="codeblocks">
                                            <pre class="codeblock"><code>
"""style attribute"""
&lt;div style="display: flex;"&gt;

&lt;/div&gt;
                                            </code></pre>
                                        </div>
                                        <div class="codeblocks">
                                            <pre class="codeblock"><code>
"""class, src and alt attribute"""
&lt;img 
    class="profile-pic" 
    src="/img/profile.png" 
    alt="ben smiling" /&gt;
                                            </code></pre>
                                        </div>
                                        <div class="codeblocks">
                                            <pre class="codeblock"><code>
"""ID attribute"""
&lt;div id="loader"&gt;

&lt;/div&gt;
                                            </code></pre>
                                        </div>
                                        <div class="codeblocks">
                                            <pre class="codeblock"><code>
"""href and rel attribute"""
&lt;link 
    href="/css/style.css" 
    rel="stylesheet" /&gt;
                                            </code></pre>
                                        </div>
                                        <div class="codeblocks">
                                            <pre class="codeblock"><code>
"""src and type attribute"""
&lt;script 
    src="/js/index.js"
    type="text/javascript"&gt;
    &lt;/script&gt;
                                            </code></pre>
                                        </div>
                                        <div class="codeblocks">
                                            <pre class="codeblock"><code>
"""custom attribute"""
&lt;div data-key="2"&gt;

&lt;/div&gt;
                                            </code></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h5>CSS - Cascading StyleSheet</h5>
                        <div>
                            <p>
                                After arranging the blocks of the web page dont forget you will have to paint  it and add
                                some finishing touches and <span class="extra">CSS</span> is the right tool for that
                            </p>
                            <p>
                                CSS can be added to html tags in three different ways thats is the
                                <ul style="padding-left: 16px;">
                                    <li>inline styling</li>
                                    <li>internal styling</li>
                                    <li>external styling</li>
                                </ul>
                            </p>
                            <div class="styleblock">
                                <div class="codeblocks">
                                    <pre class="codeblock"><code>"""inline method"""

&lt;html&gt;
&lt;head&gt;

&lt;/head&gt;
&lt;body&gt;
    &lt;div style="color: white;"&gt;

    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
                                </div>
                                
                                <div class="codeblocks">
                                    <pre class="codeblock"><code>"""internal method"""

&lt;html&gt;
&lt;head&gt;
    &lt;style&gt;
        .container{
            color: white;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class="container"&gt;

    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
                                </div>
                                <div class="codeblocks">                                
                                    <pre class="codeblock"><code>"""external method"""

&lt;html&gt;
&lt;head&gt;
    &lt;link href="../location/file.css" &gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class="container"&gt;

    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
                                </div>
                            </div>
                            <p>
                                but the preferred method is the external method which allows you to create a different css file in a different folder to write all your styles and just reference the file in your html file using the <span class="extra">link tag</span> eg.
                                you have a working folder in vscode with the project directory looking like this
                            </p>
                            <div class="style-example">
                                <div class="eg-inner">
                                    <div class="codeblocks">
                                        <pre class="codeblock"><code>
"""app challenge folder"""

    &#8964; assets
        &#8964; css
            style.css
        &#8964; js
            index.js
        &#8964; img
            user.png
    &#8964; views
        dashboard.ejs
    main.js
                                        </code></pre>
                                    </div>
                                    <div class="codeblocks">
                                        <pre class="codeblock"><code>
"""dashboard.ejs"""

    &lt;html&gt;
    &lt;head&gt;
    &lt;link href="/css/style.css" &gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;div class="container"&gt;
            &lt;div class="redbox"&gt;
                
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/body&gt;
    &lt;/html&gt;
                                        </code></pre>
                                    </div>
                                    <div class="codeblocks">
                                        <pre class="codeblock"><code>
"""style.css"""

    .container{
        color: white;
        display: inline-block;
        background-color: black;
    }
    .container .redbox{
        width: 250px;
        height: 500px;
        background-color: red;
    }
                                        </code></pre>
                                    </div>
                                </div>
                            </div>
                            <p>
                                There is a rule in using <span class="extra">internal styling</span> or <span class="extra">external styling</span> which is 
                                you need a <span class="extra">selector</span> to style a <span class="extra">tag</span> the selector can be either
                                <ul style="padding-left: 16px;">
                                    <li>tag name</li>
                                    <li>tag's class</li>
                                    <li>tag's id</li>
                                </ul>
                                but preferrably the class or tagname and a property with its value like this
                                <div style="display: flex; align-items: center; justify-content: center; width: 50%; margin: 8px auto; ">
                                    <img width="512" height="auto" src="/img/learning/pic2.png" alt="">
                                </div>
                            </p>
                            <div class="style-example">
                                <div class="eg-inner">
                                    <div class="codeblocks">
                                        <pre class="codeblock"><code>
"""tag name selector"""

div{
    color: white;
    display: inline-block;
    background-color: black;
}
div .redbox{
    width: 250px;
    height: 500px;
    background-color: red;
}
                                        </code></pre>
                                    </div>
                                    <div class="codeblocks">
                                        <pre class="codeblock"><code>
"""class selector"""

.container{
    color: white;
    display: inline-block;
    background-color: black;
}
.container .redbox{
    width: 250px;
    height: 500px;
    background-color: red;
}
                                        </code></pre>
                                    </div>
                                    <div class="codeblocks">
                                        <pre class="codeblock"><code>
"""id selector"""

    #container{
        color: white;
        display: inline-block;
        background-color: black;
    }
    #container .redbox{
        width: 250px;
        height: 500px;
        background-color: red;
    }
                                        </code></pre>
                                    </div>
                                </div>
                            </div>
                            <p>
                                The are lot of styling properties as well but we will stick to the ones we will be using a lot
                                which will be listed below.
                                <ul style="padding-left: 16px;">
                                    <li>color</li>
                                    <li>width</li>
                                    <li>height</li>
                                    <li>border</li>
                                    <li>margin</li>
                                    <li>display</li>
                                    <li>padding</li>
                                    <li>position</li>
                                    <li>font-size</li>
                                    <li>box-sizing</li>
                                    <li>box-shadow</li>
                                    <li>line-height</li>
                                    <li>font-weight</li>
                                    <li>font-family</li>
                                    <li>text-decoration</li>
                                    <li>background-color</li>
                                </ul>
                            </p>
                            <p>There are some styling properties that only work when a certain property is used or its value is selected</p>
                        </div>
                    </li>
                    
                </ol>
            </div>
        </div>
    </div>
</body>
</html>