<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/learning.css">
    <title>Document</title>
</head>
<body>
    <h3>This is suppose to be a guideline for the other pages</h3>
    <div class="mainbox">
        <div class="inner-mainbox">
            <ol class="text">
                <li>
                    <div>
                        <p>Frontend development is made up of html <span class="extra">tags</span> and they mostly come in twos</p>
                        <div style="display: flex; gap: 32px; width: max-content; margin: 8px auto;">
                                <img width="64" height="auto" src="/img/learning/tag1.png" alt="">
                                <img width="64" height="auto" src="/img/learning/tag2.png" alt="">
                                <img width="64" height="auto" src="/img/learning/tag3.png" alt="">
                        </div>
                        <p>
                            making up an <span class="extra">element</span>
                        </p>
                        <div style="width: max-content; margin: 8px auto;">
                            <img width="256" height="auto" src="/img/learning/Picture1.png" alt="">
                        </div> 
                        <p>
                            and not forgetting the <span class="extra">styling</span> of those tags come in three methods
                        </p>
                        <div class="styleblock">
                            <div>
                                <pre><code>"""inline method"""

&lt;html&gt;
&lt;head&gt;

&lt;/head&gt;
&lt;body&gt;
    &lt;div style="color: white;"&gt;

    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
                            </div>
                            
                            <div>
                                <pre><code>"""internal method"""

&lt;html&gt;
&lt;head&gt;
    &lt;style&gt;
        .container{
            color: white;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class="container"&gt;

    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
                            </div>
                            <div>                                
                                <pre><code>"""external method"""

&lt;html&gt;
&lt;head&gt;
    &lt;link href="../location/.css" &gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class="container"&gt;

    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
                            </div>
                        </div>
                        <p>
                            but the preferred method is the external method which allows you to create a different css file in a different folder to write all your styles and just reference them eg.
                        </p>
                        <div>
                            <div>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <p>
                        
                    </p>
                </li>
                <li>
                    <p>
                        Use the <span>div</span> tag when ever you want to 
                        create a box and remember if there is nothing in the <span>div</span> tag 
                        or you don't assign it width and height it won't be visible
                    </p>
                </li>
                <li>
                    <p>
                        Use the tags 
                        <span>
                            <span>h1</span>
                            <span>h2</span>
                            <span>h3</span>
                            <span>h4</span>
                            <span>h5</span>
                            <span>h6</span>
                        </span>
                        to create title in your designs
                    </p>
                </li>
            </ol>
        </div>
    </div>
</body>
</html>