<!DOCTYPE html>
<html lang="en">
    <%- include('partials/headers') %> 
<body>
    <div class="dash-main">
        <div class="dash-head container">
            <%- include('partials/dashmenu') %> 
        </div>
        <div class="dash-body">
            <div>
                <%- include('partials/toolbar') %> 
                <div class="body-main container">
                    <div>
                        <div class="jobs-area">
                            <div>
                                <div class="job-cards">Python developer intern <button>apply</button></div>
                                <div class="job-cards">Network Administrator intern <button>apply</button></div>
                                <div class="job-cards">Software developement intern <button>apply</button></div>
                                <div class="job-cards">System Administration <button>apply</button></div>
                                <div class="job-cards">Cyber Security Analyst intern <button>apply</button></div>
                                <div class="job-cards">Business Analyst intern <button>apply</button></div>
                                <div class="job-cards">Python developer intern <button>apply</button></div>
                                <div class="job-cards">Network Administrator intern <button>apply</button></div>
                                <div class="job-cards">Software developement intern <button>apply</button></div>
                                <div class="job-cards">System Administration <button>apply</button></div>
                                <div class="job-cards">Cyber Security Analyst intern <button>apply</button></div>
                                <div class="job-cards">Python developer intern <button>apply</button></div>
                                <div class="job-cards">Network Administrator intern <button>apply</button></div>
                                <div class="job-cards">Software developement intern <button>apply</button></div>
                                <div class="job-cards">System Administration <button>apply</button></div>
                                <div class="job-cards">Cyber Security Analyst intern <button>apply</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/scripts') %> 
</body>
</html>