/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400|PT+Sans:600'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {font-size: 100%;} /*16px*/


html, body{
    height: 100%;
    overflow-y: hidden;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}


.container{
    gap: 0 32px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


body .dash-main{
    height: 100%;
}


body .dash-head{
    background-color: #242938;
}


.dash-head .head-inner{
    width: 100%;
    display: flex;
    padding: 8px 0;
    grid-column: 3/11;
    align-items: center;
    justify-content: space-between;
}

.dash-head .head-inner > *{
    width: 50%;
}

.dash-head .head-inner .head-nav{
    gap: 0 24px;
    display: flex;
    align-items: center;
}

.head-inner .head-nav > div a{
    text-decoration: none;
    color: #fff;
}

.head-nav a > div {
    gap: 0 8px;
    display: flex;
    align-items: center;
    position: relative;
}

.head-nav a svg {
    width: 24px;
    bottom: -4px;
    position: relative;
}

.dash-head .head-inner .head-icons{
    display: flex;
    position: relative;
    justify-content: flex-end;
}


.head-inner .head-icons .user{
    width: 24px;
    height: 24px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.head-inner .head-icons > div{
    display: none;
    transition: display 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
    background-color: #fff;
    position: absolute;
    border-radius: 4px;
    padding: 4px 16px;
    z-index: 10;
    top: 32px;
    right: 0;
}

.head-inner .head-icons > div.show{
    display: block;
}

.head-icons > div ul{
    list-style-type: none;
    font-size: 14px;
}

.head-icons > div ul > li{
    padding: 8px;
}

.head-icons > div ul li:not(:last-child){
    border-bottom: 1px solid rgba(85, 85, 85, 0.35);
}

.head-icons > div li a{
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.dash-main .dash-body{
    height: calc( 100% - 40px);
    background-color: #f5f5f7;
    position: relative;
}

.dash-main .dash-body > div {
    width: 100%;
    height: 100%;
}

.dash-main .dash-body .body-head{
    background-color: #fff;
    border-bottom: 1px solid #c9c9c9db;
    padding: 16px 0;
}

.dash-body .body-head > div{
    width: 100%;
    display: flex;
    grid-column: 3/11;
    align-items: center;
    justify-content: space-between;
}

.dash-body .body-head .search-area{
    gap: 0 8px;
    display: flex;
    align-items: stretch;
}

.body-head .search-area label{
    position: relative;
    cursor: pointer;
}

.body-head .search-area label::after{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background: transparent;
    left: 0;
    top: 0;
}

.body-head .search-area label svg{
    position: relative;
    bottom: -2px;
}

.body-head .search-area input{
    border: none;
}

.body-head .search-area input:focus{
    outline: none;
}

.dash-body .body-head .btn-area{
    gap: 0 24px;
    display: flex;
    position: relative;
    align-items: center;
}

.body-head .btn-area button{
    gap: 0 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.body-head .btn-area > div {
    position: relative;
    margin-left: 48px;
}

.body-head .btn-area button.lastbtn{
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: 50%;
    background-color: #f37122;
    position: absolute;
    bottom: -46px;
    right: -12px;
    z-index: 8;
}


.dash-main .dash-body .body-main{
    height: calc(100% - 61px);
    overflow-y: hidden;
}

.dash-body .body-main > div{
    width: 100%;
    height: 63%;
    padding-top: 48px;
    grid-column: 3/11;
}

.dash-body .body-main.page_not_found > div{
    gap: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.dash-body .body-main.page_not_found > div svg {
    width: 256px;
    height: auto;
}

.dash-body .body-main.page_not_found > div div{
    text-align: center;
}

.dash-body .body-main.page_not_found > div p a{
    text-decoration: none;
    color: #f37122;
}

.dash-body .body-main .jobs-area{
    width: 100%;
    height: 100%;
}

.body-main .jobs-area > div{
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.jobs-area > div .job-cards{
    gap: 0 24px;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    background-color: #fff;
    margin-bottom: 24px;
    border-radius: 4px;
}

.jobs-area .job-cards > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jobs-area .job-cards > div h5{
    margin: 0;
}

.jobs-area .job-cards > div:first-child{
    background-color: black;
}

.dash-main .dash-body .job-form{
    width: 67%;
    height: 90%;
    position: absolute;
    background-color: #f5f5f7;
    bottom: 8px;
    left: 16.5%;
}

.dash-main .dash-body .job-form.deactivate{
    display: none;
}

.dash-body .job-form  form > div{
    min-height: 260px;
    border-radius: 4px;
    margin-bottom: 32px;
    background-color: #fff;
    padding: 4px 24px 16px 24px;
}

.dash-body .job-form  form .bi-form input:not(input[type=checkbox]){
    width: 100%;
    border: none;
    padding-left: 8px;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.job-form  form .bi-form input:not(input[type=checkbox]):focus{
    outline: none;
}

.job-form  form .bi-loc > div {
    gap: 0 32px;
    display: flex;
    align-items: center;
}

.job-form  form .bi-loc > div:last-child{
    display: flex;
    align-items: flex-start;
}

.dash-body .job-form  form .po-form{
    max-height: 466px;
    overflow-y: hidden;
}

.job-form  form .po-form > div{
    min-height: 82px;
    max-height: 288px;
}

form .po-form > div{
    height: 100%;
}

form .po-form .ql-container{
    height: calc( 100% - 46px );
}

.po-form .ql-container .ql-editor{
    height: 100%;

}


.job-form  form .cancel-btn,
.job-form  form .submit-btn{
    border: none;
    color: #fff;
    padding: 10px 16px;
    border-radius: 8px;
    position: fixed;
    bottom: 48px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.35);
}

.job-form  form .cancel-btn{
    background-color: red;
    left: 183px;
}

.job-form  form .submit-btn{
    background-color: #0060ac;
    right: 157px;
}